<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><%= image_tag "logo.svg", width: "150" %></a>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
</nav>

