<div class="container-fluid">
    <div class="row">
        <div id="jumbotron" class="col-sm-12 mb-3 p-5">
            <h1 class="mb-2">Documentation
            </h1>
            <h2>API references, developer guides, and quick starts for the engineering team
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                🚪 Squad Acquisition
                </h5>
                <p>Imagine your first day at Made Up Company™. During the grueling interview process, no one mentioned that the server team has disbanded (taking all the in-house knowledge with them)</p>
                <%= link_to "Visit Documentation", auth_encode_token_path(space: "squad-acquisition"), target: "_blank", class: "btn btn-custom"%> 
            </div>
        </div>
        </div>
    
        <div class="col-sm-4 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                    🚗 Squad Fleet
                    </h5>
                    <p>
                    Imagine your first day at Made Up Company™. During the grueling interview process, no one mentioned that the server team has disbanded (taking all the in-house knowledge with them)
                    </p>
                    <%= link_to "Visit Documentation", auth_encode_token_path(space: "squad-fleet"), target: "_blank", class: "btn btn-custom"%> 
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                💰 Squad Payments
                </h5>
                <p>
                Imagine your first day at Made Up Company™. During the grueling interview process, no one mentioned that the server team has disbanded (taking all the in-house knowledge with them)
                </p>
                <%= link_to "Visit Documentation", auth_encode_token_path(space: "squad-payments"), target: "_blank", class: "btn btn-custom"%> 
            </div>
        </div>
    </div>
    </div>
</div>



