@import "~bootstrap/scss/bootstrap"; 

// THEME

body {
    background-color: var(--main-color-bg);
}

a, a:hover {
    color: var(--main-color-link);
}

// JUMBOTRON

#jumbotron {
    background-color: var(--jumbo-color-bg);
}

#jumbotron h1 {
    font-size: 32px;
    color: white;
}

#jumbotron h2 {
    font-size: 24px;
    font-weight: 100;
    color: white;
}

// BUTTON

.btn-custom, .btn-custom:hover {
    background-color: var(--button-color-bg);
    color: var(--button-color-text);
}

.btn-custom:hover {
    opacity: 0.9;
}

// NAVBAR

.navbar-brand img {
    max-width: 150px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

// FORM

form {
    background-color: #ffffff;
}